<a href="https://colab.research.google.com/github/Faheemfemu/Python-For-Data-Science-Assignments/blob/main/Assignment_Tuples%2C_Sets_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

### Another measure of average

* Mode is defined as the value that appears most often in a set of data values. Mode corresponds to the most frequent value.
* You are given a list of numbers and you need to calculate the mode of this list

In [ ]:
# A list containing average daily temperature over 10 days
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [ ]:
# Step 1 : Find the unique set of values. Store this in a list
unique_set = set(temperatures)
unique_temperatures = list(unique_set)

In [ ]:
# Print the unique temperature list
unique_temperatures

[33, 34, 39, 40, 42, 29]

In [ ]:
# Step 2 : Create an empty dictionary which will contain the unique temperatures as keys and their counts in the original temperatures list as values
temp_dict = {}

# Set the values for each key separately
# First key
temp_dict['33'] = (2)


# Second key
temp_dict['34'] = (3)


# Third key
temp_dict['39']=(1) 


# Fourth key
temp_dict['40']= (2)


# Fifth key
temp_dict['42']= (1)


# Sixth key
temp_dict['29'] = (1)
temp_dict

{'33': 2, '34': 3, '39': 1, '40': 2, '42': 1, '29': 1}

In [ ]:
# Step 3: Store the dictionary values in a list
temp_dict_frequencies = list(temp_dict.values())

# Print the list of dictionary values
print(temp_dict_frequencies)
# Find the index of the most frequent temperature value
most_frequent_temp_index =temp_dict_frequencies.index(max(temp_dict_frequencies))

# Print the index
print(most_frequent_temp_index)

[2, 3, 1, 2, 1, 1]
1

In [ ]:
# Step 4 : Create the list of dictionary keys
temp_dict_keys = list(temp_dict.keys())

# Print the list of dictionary keys
print(temp_dict_keys)

# Calculate the mode temperature
mode_temp = temp_dict_keys[most_frequent_temp_index]
print(mode_temp)

['33', '34', '39', '40', '42', '29']
34

## <u>Problem 2 </u>

### Challenging the immutability of tuples

You are given a list of tuples. You need to replace the last element of the last tuple

In [ ]:
# Input list of tuples

list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]


# Expected output : Replace the last element 70 with 100
# output_list = [(10,20,30),(30,40,50),(50,60,100)]

In [ ]:
# Your code here 
output_list =list_of_tuples[:-1]+[list_of_tuples[2][:-1]+(100,)] 
# Print the output list
output_list

[(10, 20, 30), (30, 40, 50), (50, 60, 100)]

In [ ]:
#2nd method
# Your code here
t1 = (10,20,30)
t2 = (30,40,50)
t3 = (50,60,70)
l3=list(t3)

l3[2]=100
l3
t3=tuple(l3)
t3
tup_4=tuple(zip(t1,t2,t3))
tup_4
output_list=list(tup_4)
output_list

# Print the output list
output_list

[(10, 30, 50), (20, 40, 60), (30, 50, 100)]

## <u> Problem 3 </u>

Natural Language Processing or NLP is one of the most promising fields in Machine Learning. Most of the times in NLP we deal with the textual data (a bunch of strings). Sometimes when we are processing the text, it is a common practice to get rid of some set of stop words from our original text. By default stop words are very common words used in English language such as and, or, punctuations etc.

In this exercise, you are provided with a default set of stop words and you need to add some extra set of custom words.

In [ ]:
# A sample sentence 

sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last half yearly results'

# Print your sentence
print(sentence)

Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last half yearly results

In [ ]:
# Default set of stop words 
stop_words = {"i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", 
              "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself",
              "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that",
              "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had",
              "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because",
              "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into",
              "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", 
              "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where",
              "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no",
              "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just",
              "don", "should", "now"}

In [ ]:
# Update the set of stop words by adding the custom stop words
custom_stop_words = ["hello","good","morning","half","yearly"]

# Your code here
stop_words.update(custom_stop_words)

# Print the updated stop words
print(stop_words)

{'yours', 'above', 'theirs', 's', 'for', 't', 'am', 'had', 'now', 'our', 'and', 'being', 'herself', 'again', 'he', 'an', 'these', 'as', 'can', 'below', 'itself', 'be', 'most', 'own', 'because', 'both', 'a', 'his', 'which', 'to', 'been', 'himself', 'before', 'good', 'further', 'any', 'yourselves', 'into', 'few', 'him', 'only', 'you', 'they', 'whom', 'i', 'should', 'is', 'this', 'not', 'those', 'what', 'who', 'from', 'hers', 'why', 'after', 'just', 'are', 'with', 'at', 'other', 'up', 'such', 'me', 'all', 'about', 'she', 'same', 'that', 'under', 'will', 'yourself', 'no', 'was', 'nor', 'morning', 'during', 'until', 'we', 'too', 'does', 'then', 'so', 'over', 'on', 'out', 'but', 'between', 'do', 'or', 'has', 'while', 'down', 'its', 'against', 'have', 'it', 'through', 'some', 'off', 'more', 'your', 'their', 'here', 'were', 'the', 'if', 'having', 'than', 'hello', 'half', 'doing', 'themselves', 'each', 'of', 'when', 'where', 'once', 'yearly', 'her', 'did', 'my', 'myself', 'very', 'don', 'them', 'by', 'in', 'ours', 'there', 'how', 'ourselves'}

In [ ]:
# Do the same task another way. Keep in mind to use the original set of stop_words for this piece of code
my_set= set(custom_stop_words)
updated_stop_word = stop_words.union(my_set)

# Print the updated stop words
print(updated_stop_word)

{'yours', 'above', 'all', 'theirs', 's', 'about', 'for', 't', 'am', 'had', 'she', 'same', 'now', 'that', 'our', 'and', 'under', 'will', 'being', 'herself', 'yourself', 'no', 'was', 'nor', 'morning', 'again', 'during', 'until', 'we', 'he', 'too', 'an', 'does', 'these', 'as', 'then', 'so', 'can', 'below', 'over', 'itself', 'on', 'be', 'most', 'out', 'but', 'own', 'between', 'do', 'or', 'because', 'both', 'has', 'a', 'his', 'which', 'to', 'been', 'while', 'down', 'its', 'against', 'himself', 'before', 'good', 'further', 'any', 'yourselves', 'have', 'it', 'through', 'some', 'into', 'few', 'off', 'him', 'only', 'more', 'you', 'your', 'their', 'they', 'here', 'whom', 'were', 'i', 'should', 'is', 'the', 'if', 'having', 'this', 'than', 'hello', 'not', 'ourselves', 'half', 'doing', 'those', 'themselves', 'what', 'who', 'from', 'each', 'hers', 'why', 'after', 'just', 'of', 'are', 'when', 'where', 'with', 'at', 'other', 'once', 'yearly', 'her', 'did', 'my', 'myself', 'very', 'don', 'them', 'up', 'by', 'in', 'ours', 'there', 'such', 'how', 'me'}

## <u>Problem 4</u>

 Write a Python script to check whether a given key already exists in a dictionary. If it does, drop that key from the dictionary. If it does not, add that key and corresponding value to the dictionary

In [ ]:
# Your dictionary
employee_dict = {'Name':'Sanket','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,
                 'Promotion Year':[2016,2018,2020]}

In [ ]:
# Check if the key 'Employee_ID' is present in the dictionary. Hint : use a boolean variable to store this value
'Employee_ID' in employee_dict

# If not present add this key to this dictionary and the corresponding value to be 4503233
employee_dict['Employee_ID'] = 4503233

In [ ]:
# Check if the key 'Band' is present in the dictionary.
'Band' in employee_dict

# If present, drop this key from the dictionary
del employee_dict['Band']

In [ ]:
# Print the updated dictionary
employee_dict

{'Name': 'Sanket',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Promotion Year': [2016, 2018, 2020],
 'Employee_ID': 4503233}